* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #030102;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}
h1 {
  font-size: 5.375rem;
  font-weight: 700;
  line-height: 125%;
}
p {
  line-height: 150%;
  font-weight: 400;
}
.p1 {
  font-size: 1.5rem;
}
.p2 {
  font-size: 1.25rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
}
.logo {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.linksList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  list-style-type: none;
  min-width: 350px;
}
.home {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ideaImg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.homeHeader {
  width: 970px;
  text-align: center;
  margin-bottom: 2rem;
}
.homeHeaderPurble {
  color: #9384d1;
}
.homeHeaderYellow {
  color: #ffab2a;
}
.homeP {
  width: 750px;
  text-align: center;
}
/* media query parts */
@media screen and (max-width: 1600px) {
  body {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3.8rem;
  }
  .p1 {
    font-size: 1.25rem;
  }
  .p2 {
    font-size: 1rem;
  }
  .homeHeader {
    width: 750px;
  }
  .homeP {
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  body {
    padding: 0 1rem;
  }
  h1 {
    font-size: 2.7rem;
  }
  .p1 {
    font-size: 1rem;
  }
  .p2 {
    font-size: 0.8rem;
  }
  .homeHeader {
    width: 500px;
  }
  .homeP {
    width: 430px;
  }
  .linksList {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }
  .p1 {
    font-size: 1rem;
  }
  .p2 {
    font-size: 0.8rem;
  }
  .homeHeader {
    width: 95%;
  }
  .homeP {
    width: 90%;
  }
}
