/* 
General Styles
*/
:root {
  --white: #fff;
  --black: #030102;
  --black-overlay: #0d0d0d;
  --gray: #7a7a7a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black-overlay);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #272727;
}
body {
  color: var(--white);
  background-color: var(--black);
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.25rem;
}
h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 125%;
}
h2 {
  font-weight: normal;
  font-size: 2.25rem;
}
h3 {
  font-weight: normal;
  font-size: 2rem;
}
h4 {
  font-weight: normal;
  font-size: 1.75rem;
}

p {
  line-height: 150%;
  font-weight: 400;
}
.p1 {
  font-size: 1.25rem;
}
.p2 {
  font-size: 1rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.linksList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  list-style-type: none;
}
.back-link {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 56px;
  background: rgba(255, 255, 255, 0.05);
  margin-right: 1rem;
}
.darker {
  background: rgba(255, 255, 255, 0.349);
}
.back-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transition-fade {
  opacity: 1;
  transition: transform 500ms ease-out, opacity 500ms ease-in;
  transform: translateX(0);
}
body:has(.transition-movies) {
  background-color: #141924;
  transition: background 500ms ease-in-out;
}
body:has(.transition-e) {
  background-color: #c3a786;
  color: black !important;
  transition: background 500ms ease-in-out;
}
body:has(.transition-e) a {
  color: black !important;
}
.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(20px);
}
.is-leaving .transition-fade {
  opacity: 0;
  transform: translateY(20px);
}
html.is-animating body:has(.transition-movies) {
  background-color: var(--black);
}
/* Home */
.home {
  padding: 10rem 0 10rem 1rem;
}
.homeHeader {
  width: 70%;
}
/* 
    Skills Styles
  */
.skills {
  padding-bottom: 10rem;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4.375rem;
}
.skill-item {
  background-color: var(--black-overlay);
  padding: 2rem;
  width: 350px;
  height: 420px;
  border-radius: 0.5rem;
}
.lightp {
  color: var(--gray);
  font-size: 0.875rem;
}
.icon-header {
  display: flex;
  margin-bottom: 8.375rem;
}
.icon-header h4 {
  margin-left: 1rem;
}
.colored-uiux {
  color: #d7cdff;
}
.colored-web {
  margin-left: 1rem;
  color: #70a19d;
}
.colored-ai {
  color: #ffb84c;
}
.skillp {
  margin-bottom: 4.25rem;
}
/* 
    Projects Styles
  */
.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  margin: auto;
  margin-bottom: 4.25rem;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
}
.projects-container {
  padding-top: 4.375rem;
}
.project-img-link {
  width: 60%;
}
.project-img {
  width: 100%;
  object-fit: contain;
}
.project-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-title {
  margin-bottom: 7rem;
}
.project-description {
  margin-bottom: 2rem;
}
.project-link {
  color: #9384d1;
}
/* Movies */

/* body {
  background-color: #141924;
} */
.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: auto;
  padding-top: 8rem;
}
.project-name {
  font-size: 1.75rem;
}
.project-btn {
  display: flex;
  width: 155px;
  padding: 5px 17px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  border: 1px solid #998c8c;
  background: transparent;
  margin-bottom: 2rem;
}
.section-title {
  align-self: flex-start;
  margin-bottom: 2rem;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section-img {
  margin-bottom: 6rem;
  width: min(1024px, 100%);
}
footer {
  margin-top: 5rem;
  padding: 2rem 0;
  text-align: center;
  font-size: 1rem;
  color: var(--gray);
  border-top: 1px solid rgba(217, 179, 122, 0.22);
}
.footer-text {
  margin-bottom: 1rem;
}
.footer-link {
  opacity: 0.4;
  margin-right: 0.4rem;
  transition: opacity 300ms ease-in-out;
}
.footer-link:hover {
  opacity: 1;
}
/* media query parts */
@media screen and (max-width: 1440px) {
  body {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1280px) {
  .homeHeader {
    width: 95%;
  }
  .skills-container {
    flex-direction: column;
    display: flex;
  }
  .skill-item {
    margin-bottom: 4rem;
    width: max(60%, 500px);
    min-width: 260px;
  }
  .project {
    flex-direction: column-reverse !important;
  }
  .project-description {
    display: none;
  }
  .project-info {
    width: 100%;
  }
  .project-content {
    padding-top: 5rem;
  }
  .project-img-link {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  .project-img {
    width: 100%;
  }
  .project-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  .project-link {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 2rem;
  }
  .home {
    padding: 5rem 0 5rem 0rem;
  }
  .skills {
    padding-bottom: 5rem;
  }
  .projects {
    padding-bottom: 5rem;
  }
  .linksList {
    display: none;
  }
  .project-name {
    display: none;
  }
  .project-content {
    padding-top: 3rem;
  }
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  .skill-item {
    margin-bottom: 4rem;
    width: 90%;
    min-width: 260px;
  }
  .p1 {
    font-size: 1rem;
  }
  .p2 {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 0 1rem;
  }
  .homeHeader {
    width: 100%;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .project-name {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    font-weight: bold;
  }
  .section-title {
    margin-bottom: 1rem;
  }
  /* .project-name {
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 9rem;
  } */
}
