.home {
  padding: 10rem 0 10rem 1rem;
}
.homeHeader {
  width: 70%;
}
/* 
    Skills Styles
  */
.skills {
  padding-bottom: 10rem;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4.375rem;
}
.skill-item {
  background-color: var(--black-overlay);
  padding: 2rem;
  width: 350px;
  height: 420px;
  border-radius: 0.5rem;
}
.lightp {
  color: var(--gray);
  font-size: 0.875rem;
}
.icon-header {
  display: flex;
  margin-bottom: 8.375rem;
}
.icon-header h4 {
  margin-left: 1rem;
}
.colored-uiux {
  color: #d7cdff;
}
.colored-web {
  margin-left: 1rem;
  color: #70a19d;
}
.colored-ai {
  color: #ffb84c;
}
.skillp {
  margin-bottom: 4.25rem;
}
/* 
    Projects Styles
  */
.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: center;
  width: 90%;
  margin: auto;
  margin-bottom: 4.25rem;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
}
.projects-container {
  padding-top: 4.375rem;
}
.project-img {
  width: 60%;
  object-fit: contain;
}
.project-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-title {
  margin-bottom: 7rem;
}
.project-description {
  margin-bottom: 2rem;
}
.project-link {
  color: #9384d1;
}
