body {
  background-color: #141924;
}
.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}
.project-name {
  padding-top: 4rem;
  text-align: center;
  margin-bottom: 9rem;
}
.section-title {
  align-self: flex-start;
  margin-bottom: 6rem;
  margin-left: -4rem;
}
.section-img {
  margin-bottom: 6rem;
  width: min(1024px, 100%);
}
